body {
  font-family: $font_family;  // 300;400;500;600;700
  color: $primary_color;
}

ul {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
}

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {

}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {

}

/* Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {

}
