body {
  font-family: $primary_font;  // 300;400;500;600;700
  color: $primary_color;
  font-weight: $font_weight;
}

main,
main section {
  width: 100%;
}

h2 {
  text-transform: uppercase;
  letter-spacing: $letter_spacing;
  color: $titles_color;
  font-size: $font_size * 1.2;
}

h3 {
  text-transform: uppercase;
  color: $titles_color;
  font-weight: $weight_titles;
  font-size: $font_size + 2;
}

ul {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
}

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {

}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {

}

/* Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {

}
