header {
  background-color: $primary_bg_color;

  a.logo {
    display: block;
    padding: $padding_unit;

    img {
      max-width: $width_logo;
    }
  }

  nav {
    ul.nav-menu {

      li {
        display: inline-block;
        font-size: $font_size;

        a {
          display: inline-block;
          color: $primary_color;
          padding: $padding_unit / 2;
          @include transition_hover;

          &:hover {
            background-color: $hover_color;
          }
        }
      }
    }
  }
}
