main {

  section#product-info {
    color: $product_color;
    background-color: $secondary_bg_color;

    h1 {
      border-bottom: 1px solid #fff;
      padding-bottom: $padding_unit;
    }

    .product-pic {
      width: 100%;

      img {
        max-width: 100%;
      }
    }

    .product-package {
      width: 100%;

      img {
        max-width: 100%;
      }
    }

    .product-details {
      p:last-child {
        font-family: $product_font;
        font-size: $font_size / 1.2;
        font-weight: $font_weight;

      }
    }
  }
}
